* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  font-size: 1.5rem;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: #444;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #444;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
  text-decoration: none;
  list-style: none;
  gap: 2rem;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* min-height: 100vh; */
  /* padding: 20px 10%; */
  /* max-width: 70%; */
  /* margin: 0 auto; */
}

#Home {
  background: url("../images/laptop.png") no-repeat center center/cover;
  /* height: 100vh; */
  /* border: 3px solid red; */
  /* width: 100vw; */
  max-height: 100vh;
}

.name {
  font-size: 3rem;
  color: #dbd0d0;
  text-align: center;
  margin: 10% 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

p {
  line-height: 1.6;
  color: #444;
  font-weight: 500;
}

.sr-only {
}

@media screen and (max-width: 700px) {
  nav ul li {
    width: 100%;
  }

  main {
    max-width: 98%;
    margin: 0 auto;
  }

  .name {
    font-size: 2rem;
  }

  .logo {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
