* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: grey;
  color: aliceblue;
}

/*   Navigation Bar Styling 

nav {
  background-color: rgb(223, 223, 223);
  position: fixed;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  font-size: 1.5rem;
  padding: 2rem;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

 Profile Styling 

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10rem;
}

.name {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
}

.profile-pic {
}

.profile-pic-img {
  width: 65%;
}

.info {
  margin-top: -10rem;
  text-align: center;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .about {
    flex-direction: column;
  }

  .name {
    margin-top: 2rem;
    text-align: center;
  }

  .profile-pic {
    margin: -9rem auto 0 auto;
  }

  .profile-pic-img {
    width: 80%;
    margin: 2rem;
  } 

 
} */
/* .info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
} */

.info {
  /* center */
  margin: 30vh auto;
  text-align: center;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .info {
    margin: 20vh auto;
  }
}
